@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}

html {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  /*box-sizing: inherit;*/
  box-sizing: border-box;
}

:root {
  --fontFamilySystem: -apple-system, BlinkMacSystemFont, Inter, Roboto, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	margin: 0;
	font-family: var(--fontFamilySystem);
	font-size: 16px;
	line-height: 1.33;
	color: #333;
}

:root {
  --linkBlue: rgb(0, 0, 238);
}

a {
  color: var(--linkBlue);
}

a:not(:hover) {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5rem 0;
  font-family: Montserrat, var(--fontFamilySystem);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}
